* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(212, 208, 140);
  /* background-color: rgb(228, 158, 193); */
}

#logo {
  padding: 20px;
  text-align: center;
  font-size: 4em;
  border-bottom: 1px dashed #fff;
  box-shadow: 0 2px 2px 0;
}
#logo a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  transition: color 1s;
}
#logo a:hover {
  color: rgb(102, 184, 187);
}

.App {
  display: grid;
  grid-template-columns: 50% 50%;
  width: 100%;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: rgb(245, 240, 235);
  border-radius: 10px;
  padding: 50px;
  border: 1px solid #000;
  box-shadow: 1px 2px 5px 0 #000,
              1px 3px 5px 0 #FFF;
}

#main-nav {
  width: 80%;
  margin: auto;
  margin-top: 10px;
}

ul {
  list-style-type: none;
  display: flex;
  background-color: rgb(115, 185, 194);
}
ul li {
  border: 1px solid rgb(126, 119, 119);
  padding: 10px 154px;
}
ul li:hover {
  background-color: rgb(160, 107, 204);;
}
ul a {
  text-decoration: none;
  font-weight: bold;
  color: #fff;
}

#formArea h3 {
  margin-bottom: 40px;
  font-size: 1.5em;
}
.inputArea {
  margin: 10px 0;
}
.inputArea label {
  display: block;
  font-weight: bold;
  margin-bottom: 10px;
}
.inputArea input {
  border: none;
  padding: 15px 10px;
  width: 70%;
  border-radius: 10px;
  box-shadow: 1px 1px 2px 0 inset;
  outline: none;
}

.inputArea button {
  font-weight: bold;
  width: 40%;
  border: none;
  border-radius: 10px;
  background-color: rgb(233, 179, 179);
  padding: 10px 0;
  transition: background-color 1s,
              color 1s;
}
.inputArea button:hover {
  background-color: rgb(236, 106, 106);
  color: #FFF;
}

.dietListArea {
  border: 3px solid rgb(240, 131, 111);
  padding: 10px;
  box-shadow: 1px 5px 5px 0 rgb(13, 22, 9);

}
.dietListArea h3 {
  text-decoration: underline;
  margin-bottom: 10px;
}
.dietlist {
  line-height: 2em;
}
.dietlist p span {
  font-style: italic;
  font-weight: bold;
}
.bmi {
  width: 50%;
  margin-top: 20px;
  padding: 10px 20px;
  background-color: rgb(174, 203, 240);
}
.bmi p {
  font-weight: bold;
  font-size: 30px;
  color: #fff;
}
.bmi p span {
  font-style: italic;
  font-size: 0.6em;
  color: #000;
}
.bmi-healthy {
  background-color: rgb(28, 189, 28);
}
.bmi-unhealthy {
  background-color: rgb(206, 37, 37);
}

#bmi-about-container {
  text-align: justify;
  margin-top: 20px;
  line-height: 1.5em;
}
#bmi-about-content h2 {
  margin-bottom: 20px;
  text-indent: 20px;
}
#bmi-about-content p {
  margin-top: 20px;
  text-indent: 20px;
}
#bmi-image {
  padding: 30px;
}
#bmi-image img {
  filter: drop-shadow(0 3px 5px #505352);
} 

#results {
  margin-top: 20px;
  text-align: center;
}
.row {
  display: grid;
  grid-template-columns: auto auto auto auto;
  padding: 5px 0;
  background-color: #fff;
  border: 1px solid #000;
  box-shadow: 0 1px 2px 0 inset;
}
.row:first-child {
  font-weight: bold;
  padding: 10px 0;
  background-color: rgb(223, 241, 117);
}

